<h1>Nouvelle liste</h1>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Annuler", lists_path, class: "btn btn-secondary mt-2" %>


